.s-expertise {
  &__skills {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 2rem;
    list-style: none;
  }

  &__skill {
    margin-right: 8px;
    margin-bottom: 8px;
  }
}